<main class="show_main">
  <% flash.each do |type, message| %>
    <p class="notice notice-<%= type %>"><%= message %></p>
  <% end %>
  <p><strong>Title: </strong><%= @book.title %></p>
  <p><strong>body: </strong><%= @book.body %></p>
  <%= link_to "Edit", edit_book_path(@book) %>
   |
  <%= link_to "Back", books_path() %>
</main>
